*.log
*.bak
*.swp
*.tmp
.DS_Store
._*
__MACOSX
Thumbs.db
desktop.ini

.env
.env.backup
.env.production
.env.local
.env.testing
.phpactor.json
.phpunit.result.cache
auth.json

/.cache
/.cursor
/.claude
/.fleet
/.github
/.idea
/.npm
/.nova
/.phpunit.cache
/.turbo
/.vscode
/.zed

/dist
/node_modules
/vendor

/public/hot
/public/preview-shots
/public/storage

/storage/*.key
/storage/pail
/storage/app/installed.lock
/storage/app/cache
/storage/app/rate
/storage/framework/cache/data
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*.log
/database/database.sqlite

Homestead.json
Homestead.yaml
